@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400&display=swap");

.container {
  padding-inline: 400px;
  margin-top: 10px;
}
li {
  list-style: none;
}
.sarasota {
  color: #4e31aa;
  font-size: 50px;
  font-weight: 300;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}
.search-bar {
  font-family: "Libre Franklin", sans-serif;
  position: absolute;
  width: 250px;
  top: 1em;
}
.data {
  font-family: "Libre Franklin", sans-serif;
  text-align: right;
}
.status {
  font-family: "Libre Franklin", sans-serif;
  text-transform: capitalize;
}
.cities {
  text-align: right;
}

.date {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
.conversion {
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  top: -10px;
  position: relative;
}
.degree {
  font-family: "Libre Franklin", sans-serif;
  font-size: 22px;
}
.icons {
  font-size: 50px;
  color: #3795bd;
  text-align: center;
}
.headicon {
  height: 45%;
  width: auto;
  position: absolute;
  left: auto;
  top: 5em;
}
.search-button {
  background-color: #1f8a70;
  border-color: #1f8a70;
  margin-top: -10px;
}
.search-button:hover {
  background-color: #1f8a70;
  border-color: #1f8a70;
}

.card {
  padding: 20px;
}
