.container {
  padding-inline: 400px;
  margin-top: 10px;
}
li {
  list-style: none;
}
.sarasota {
  color: #4e31aa;
  font-size: 50px;
  text-align: center;
}
.search-bar {
  position: absolute;
  width: 200px;
  top: 1em;
}
.data {
  text-align: right;
}

.cities {
  text-align: right;
}

.date {
  font-size: 30px;
}
.conversion {
  font-size: 12px;
  top: -10px;
  position: relative;
}
.degree {
  font-size: 30px;
}
.icons {
  font-size: 50px;
  color: #3795bd;
  text-align: center;
}
.headicon {
  font-size: 150px;
  color: orange;
  position: absolute;
  left: auto;
  top: 1em;
}
.search-button {
  background-color: #1f8a70;
  border-color: #1f8a70;
}
.search-button:hover {
  background-color: #1f8a70;
  border-color: #1f8a70;
}
.current-button {
  background-color: #2f58cd;
  border-color: #2f58cd;
}
.current-button:hover {
  background-color: #2f58cd;
  border-color: #2f58cd;
}
.card {
  padding: 20px;
}

.buttons {
  display: block;
  margin: 5px;
  text-align: right;
}
